@charset "UTF-8";

/* fontes */

@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor01: #ffffff;
    --cor02: #0f0f0f;
    --cor03: #00ad6f;

    --fonte1: "Saira", sans-serif;
}

body {
    background-color: var(--cor02);
}

#projects-banner {
    display: flex;
    align-items: flex-end;
    background-image: url(../image/back-banner.jpg);
    background-size: cover;
    background-position: center left;
    width: 100px;
    height: 150px;
}

#back {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--cor01);
    width: 100px;
    transform: rotate(-40deg);
    
}

#back > p {
    text-align: center;
    color: var(--cor02);
    

}

