@charset "UTF-8";

/* fontes */

@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor01: #ffffff;
    --cor02: #0b0b0b;
    --cor03: #0f0f0f;
    --cor04: #00ad6f;

    --fonte1: "Saira", sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,html {
    font-size: 1.2em;
    font-family: var(--fonte1);
}

body {
    width: 99vw;
    height: 100vh;
    overflow-x: hidden;
    background: var(--cor02);
}

/* Caixa do conteúdo */

#container {
    background: var(--cor02);
    padding-top: 80px;
}

/* Cabeçalho */

#header {
    position: fixed;
    top: 0px;
    width: 99vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.13);
    background: var(--cor02);
}

#nick-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
}

#nick-logo > p {
    font-size: 2.4em;
    font-weight: bolder;
    color: var(--cor04);
    text-shadow: 0px 0px 10px  #00ad6d50;
} 

#nick-logo > p > a {
    text-decoration: none;
    color: var(--cor04);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
}

#navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

a {
    list-style: none;
}

.list-items {
    cursor: pointer;
    list-style: none;
    font-weight: 500;
    text-shadow: 0px 0px 8px #ffffff41;
    color: var(--cor01);
}

#home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 90vh;
    background: var(--cor03);
}

#name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    width: 40vw;
}

#name > h1 {
    font-size: 2.1em;
    font-weight: 400;
    color: var(--cor04);
    text-shadow: 0px 0px 10px #00ad6d59;
}

#name > h2 {
    display: flex;
    justify-content: flex-end;
    font-weight: 100;
    width: 29vw;
    color: var(--cor01);
    text-shadow: 0px 0px 8px #ffffff59;
}

#social-media {
    cursor: pointer;
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

#image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
}

#about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 550px;
    background: var(--cor02);
}

#about-container #sobremim {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0px 80px 0px;
    font-size: 2em;
    color: var(--cor01);
}

#about-container #sobremim h3 {
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.397);
}

#about-container #sobremim p {
    color: var(--cor04);
    font-weight: bolder;
    text-shadow: 0px 0px 8px #00ad6d94;
}

#about-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    height: 350px;
    margin: auto;
}

#description {
    display: flex;
    align-items: center;
    width: 30vw;
    padding: 20px;
    border-radius: 15px 0px 0px 15px;
    color: var(--cor01);
    box-shadow: 0px 0px 10px #00ad6d2f;
    background-color: var(--cor03);
}

#description > p {
    
    text-align: end;
}

#image-gleydson {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 10vw;
}

#image-gleydson > img{
    width: 275px;
    margin-left: 10px;
    border-radius: 0px 15px 15px 0px;
    box-shadow: 0px 0px 10px #00ad6d2f;

}



#projects-banner {
    display: flex;
    align-items: flex-end;
    background-image: url(../image/back.svg);
    background-size: cover;
    background-position: center left;
    width: 100px;
    height: 150px;
}

#back {
    background-color: var(--cor01);
    margin-bottom: 20px;
    width: 100vw;
    height: 20px;
    
}

#back > p {
    text-align: center;
    color: var(--cor02);
}

