@charset "UTF-8";

/* fontes */

@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor01: #ffffff;
    --cor02: #0b0b0b;
    --cor03: #0f0f0f;
    --cor04: #00ad6f;

    --fonte1: "Saira", sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,html {
    font-size: 1.2em;
    font-family: var(--fonte1);
}

body {
    width: 99vw;
    height: 100vh;
    overflow-x: hidden;
    background: var(--cor02);
}

/* Caixa do conteúdo */

#container {
    background: var(--cor02);
    padding-top: 80px;
}

/* Cabeçalho */

#header {
    position: fixed;
    top: 0px;
    width: 99vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.13);
    background: var(--cor02);
}

#nick-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
}

#nick-logo > p {
    font-size: 2.4em;
    font-weight: bolder;
    color: var(--cor04);
    text-shadow: 0px 0px 10px  #00ad6d50;
} 

#nick-logo > p > a {
    text-decoration: none;
    color: var(--cor04);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
}

#navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

a {
    list-style: none;
    text-decoration: none;
}

.list-items {
    cursor: pointer;
    list-style: none;
    font-weight: 200;
    text-shadow: 0px 0px 8px #ffffff41;
    color: var(--cor01);
}

#home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: auto;
    padding: 28px 0px;
    background: var(--cor03);
}

#name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    width: 40vw;
}

#name > h1 {
    font-size: 4.1vw;
    font-weight: 400;
    color: var(--cor04);
    text-shadow: 0px 0px 10px #00ad6d59;
}

#name > h2 {
    display: flex;
    justify-content: flex-end;
    font-weight: 100;
    font-size: 2vw;
    max-width: 100%;
    margin-right: 10px;
    color: var(--cor01);
    text-shadow: 0px 0px 8px #ffffff59;
}

#social-media {
    cursor: pointer;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

#social-media > a > svg {
    width: 3vw;
}

#image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
}

#image > img {
    width: 33vw;
}

#about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height:auto;
    padding-bottom: 50px;
    background: var(--cor02);
}

.tittle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 0px;
    font-size: 2em;
    color: var(--cor01);
}

.tittle h3 {
    font-weight: 600;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.397);
}

.tittle p {
    color: var(--cor04);
    font-weight: 300;
    text-shadow: 0px 0px 8px #00ad6d94;
}

#about-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 50vw;
    height: auto;
    margin: auto;
}

#description {
    display: flex;
    align-items: center;
    height: 290px;
    padding: 20px;
    border-radius: 15px 0px 0px 15px;
    color: var(--cor01);
    box-shadow: 0px 0px 10px #00ad6d2f;
    background-color: var(--cor03);
}

#description > p {
    text-align: end;
    font-size: 1.4vw;
}

#image-gleydson {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#image-gleydson > img{
    width: 200px;
    margin-left: 10px;
    border-radius: 0px 15px 15px 0px;
    box-shadow: 0px 0px 10px #00ad6d2f;
}

#projects {
    height: auto;
    padding: 5px 0px 20px 0px;
    background: var(--cor03);
}

#projects-zone {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    padding: 30px 0px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00ad6d2f;
    background-color: var(--cor03);
}

.projects-banner {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100px;
    height: 150px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00ad6d7c;
    background-image: url(../image/back.svg);
    background-size: cover;
    background-position: center center;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor01);
    margin-bottom: 20px;
    width: 200px;
    height: 20px;
    box-shadow: 0px 0px 10px #00ad6dc2;
    
}

.back > p {
    text-align: center;
    font-size: 15px;
    color: var(--cor02);
}

#explication-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: auto;
}

#explication-projects > #comment-projects {
    font-weight: 100;
    color: var(--cor04);
    text-shadow: 0px 0px 10px #00ad6dc2;
}

#explication-projects > p {
    font-style: italic;
    text-decoration: overline;
    font-weight: 100;
    font-size: .5em;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.37);
    color: var(--cor01);
}

#estudies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logos-lang {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 500px;
    height: 130px;
}

#logos-lang > svg {
    cursor: pointer;
    width: 120px;
}

#description-lang {
    display: flex;
    justify-content: center;
    align-items: center;  
    width: auto;  
    max-width: 600px;
    padding: 20px;
    border-radius: 15px;
    margin: 50px auto;
    box-shadow: 0px 0px 10px #00ad6d2f;
    background-color: var(--cor03);
}

#description-lang .text-hover {
    font-style: italic;
    font-weight: 100;
    font-size: 1em;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.37);
    color: var(--cor01);
}

#html, #js, #css {display: none;}

#contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--cor03);
}

#icon-contacts {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#icon-contacts > svg {
    cursor: pointer;
}

footer {
    text-align: center;
    color: white;
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.13);
}

footer a {
    text-decoration: none;
    color: white;

}
